# Exclude version control system directories
.git
.gitmodules

# Logs
*.log
logs/

# Output and sample data
output/
sample_data/

# Local data and checkpoints
checkpoints/
data/

# Large unused directories
recognize-anything/datasets/
recognize-anything/images/
ml-depth-pro/data/
chores/

# Python cache and virtual environments
__pycache__/
*.py[cod]
.venv/
venv/

# OS and IDE files
.DS_Store
.idea/
.vscode/
