[submodule "perception_models"]
	path = perception_models
	url = https://github.com/facebookresearch/perception_models.git
[submodule "recognize-anything"]
	path = recognize-anything
	url = https://github.com/xinyu1205/recognize-anything.git
[submodule "ml-depth-pro"]
	path = ml-depth-pro
	url = https://github.com/apple/ml-depth-pro
